
.achievement__slogan {
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  padding: 54px 0 55px 0;

  @media (min-width: $tablet-width) {
    padding: 100px 0 82px 0;
    font-size: 18px;
    line-height: 30px;
    width: 490px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }
}


.achievement__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 74px;
  }
}

.achievement__list-device {
  list-style-type: none;
  margin: 0;
  padding-left: 22px;

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 55px;
  }
}

.achievement__list-check {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    list-style-type: none;
    width: 872px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__item {
    &--checkbox {
      padding-right: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__item-app {
    width: 40%;
    display: block;
    flex-wrap: nowrap;
  }
}

.achievement__list-app {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-right: 95px;
    list-style-type: none;
    display: flex;
  }
}

.achievement__input {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  margin-bottom: 29px;

  &--three {
    margin-bottom: 44px;
  }

  @media (min-width: $tablet-width) {
    min-width: 521px;
    height: 59px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    min-width: 336px;
    height: 59px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 58px;
  }
}

.achievement__input::placeholder {
  padding-left: 20px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .achievement__input {
    &--two {
      width: 561px;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 56px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__input {
    &--two {
      width: 376px;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 58px;
    }
  }
}

@media (min-width: $tablet-width) {
  .achievement__input {
    &--three {
      min-width: 521px;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__input {
    &--three {
      min-width: 336px;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 29px;
    }
  }
}

.achievement__label {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 21px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-transform: uppercase;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .achievement__label {
    &--phone {
      position: absolute;
      top: 74px;
      left: 74px;
      padding: 0;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__label {
    &--phone {
      position: absolute;
      top: 66px;
      left: 74px;
    }
  }
}

@media (min-width: $tablet-width) {
  .achievement__label {
    &--mail {
      position: absolute;
      top: 207px;
      left: 75px;
      padding: 0;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__label {
    &--mail {
      position: absolute;
      top: 66px;
      left: 530px;
    }
  }
}

.achievement__control {
  position: relative
}

.achievement__control-label {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 69px;
  align-items: center;
  color: #283645;
  padding-left: 56px;
}

.achievement__control-label-radio {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 69px;
  align-items: center;
  color: #283645;
  padding-left: 66px;

  @media (min-width: $tablet-width) {
    padding-left: 122px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 133px;
  }
}

.achievement__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.achievement__title-gadget {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.achievement__title-contacts {
  display: none;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 42px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    display: block;
    margin: 0;
    margin-bottom: 41px;
  }
}

.achievement__title-feedback {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 42px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.achievement__control-block {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.achievement__mark {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.achievement__control-block[type="checkbox"]:checked + .achievement__mark::before {
  position: absolute;
  top: 4px;
  left: 7px;
  content: url("../img/check-icon.svg");
}

.achievement__control-block[type="radio"] + .achievement__mark {
  position: absolute;
  top: -7px;
  left: -4px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    left: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 74px;
  }
}

.achievement__control-block[type="radio"]:checked + .achievement__mark::before {
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 11px;
  left: 11px;
  background-color: #d22856;
  border-radius: 50%;
}

.achievement__number-phone {
  display: relative;
  width: 276px;
  height: 59px;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 1px;
  border: none;
  margin: 0 auto;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 496px;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 371px;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    border: none;
    margin-bottom: 22px;
  }
}

.achievement__number-phone::placeholder {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 20px;
}

.achievement__block-check {
  background-color: #f2f2f2;
}

.achievement__block-gadget {
  background-color: #f2f2f2;
  min-height: 340px;
}

.achievement__mail {
  width: 276px;
  height: 59px;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 1px;
  border: none;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    width: 496px;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    border: none;
    margin-bottom: 69px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 371px;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    border: none;
    margin-bottom: 22px;
    margin-right: 10px;
  }
}

.achievement__mail::placeholder {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 20px;
}

.achievement__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.achievement__field {
  border: none;
  padding: 0;
  display: block;

  @media (min-width: $tablet-width) {
    order: 0;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
  }
}

.achievement__gadget {
  margin: 0;
  padding: 0;
  width: 320px;
  border: none;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 616px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 431px;
    margin: 0;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    background-color: #ffffff;
  }
}

.achievement__gadget-block {
  background: #f2f2f2;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background: none;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    height: 297px;
    padding-top: 42px;
  }
}

.achievement__filter-block {
  background-color: #f2f2f2;
  padding-left: 22px;
  padding-top: 44px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 0;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.achievement__filter {
  display: block;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    width: 615px;
    margin: 0 auto;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 936px;
    height: 228px;
  }
}

.achievement__feedback {
  border: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 5;
    width: 92%;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    margin-bottom: 70px;
    margin-left: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 79%;
    height: 213px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

.achievement__form-wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 6;
    display: flex;
    width: 616px;
    margin: 0;
    padding-left: 22px;
    padding-right: 19px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 0 auto;
  }
}

.achievement__contacts-app {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 19px;
  padding-right: 19px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 615px;
    order: 3;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    margin-bottom: 51px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 78%;
    min-height: 158px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}

.achievement__radio {
  width: 37px;
  height: 37px;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 2px;
  margin-bottom: 38px;
}

.achievement__label-radio {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 31px;
}

.achievement__text-emotion {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  resize: none;
  width: 276px;
  height: 197px;
  align-items: center;
  color: #283645;
  border: none;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 1px;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    display: block;
    resize: none;
    width: 496px;
    height: 189px;
    margin: 0 auto;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 816px;
    resize: none;
    height: 124px;
    margin: 0 auto;
    margin-bottom: 52px;
  }
}

.achievement__text-emotion::placeholder {
  padding: 22px 25px 0 20px;
}

.achievement__button {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  background: #2aab6d;
  box-shadow: 0 0 0 2px #2aab6d;
  border-radius: 1px;
  border: none;
  padding: 23px 45px 23px 45px;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.achievement__text {
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  margin-bottom: 66px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.achievement__text-desktop {
  display: none;
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.phone-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 20px;
    left: 396px;
  }
}

.mail-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 22px;
    left: 854px;
    z-index: 2;
  }
}

.achievement__label {
  &--phone::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      top: -66px;
      left: 303px;
      width: 60px;
      height: 61px;
      background: #e5e5e5;
    }
  }
}

  .achievement__label {
    &--mail::before {
      @media (min-width: $desktop-width) {
        position: absolute;
        content: "";
        top: -66px;
        left: 301px;
        width: 60px;
        height: 61px;
        background: #e5e5e5;
        z-index: 1;
    }
  }
}

