
.achievement__slogan {
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  padding: 54px 0 55px 0;
}

@media (min-width: $tablet-width) {
  .achievement__slogan {
    margin: 0;
    font-family: $font-pink;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #283645;
    padding: 100px 0 82px 0;
  }
}

@media (min-width: $tablet-width) {
  .achievement__slogan {
    width: 63%;
    margin: 0 auto;
  }
}

.achievement__list {
  margin: 0;
  list-style-type: none;
  padding: 0;

  &--checkbox {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .achievement__list {
    &--checkbox {
      padding-left: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__list {
    &--checkbox {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__item {
    &--checkbox {
      padding-right: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__item-app {
    width: 40%;
    display: block;
    flex-wrap: nowrap;
  }
}

.achievement__list-app {
  list-style-type: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .achievement__list-app {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__list-app {
    justify-content: space-between;
    padding-right: 95px;
    list-style-type: none;
    display: flex;
  }
}

.achievement__input {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  min-width: 99%;
  height: 59px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  margin-bottom: 29px;

  &--three {
    margin-bottom: 44px;
  }
}

.achievement__input::placeholder {
  padding-left: 20px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .achievement__input {
    min-width: 81%;
    height: 59px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 56px;
  }
}

@media (min-width: $tablet-width) {
  .achievement__input {
    &--two {
      min-width: 86%;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 56px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__input {
    min-width: 336px;
    height: 59px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__input {
    &--two {
      min-width: 376px;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 58px;
    }
  }
}

@media (min-width: $tablet-width) {
  .achievement__input {
    &--three {
      min-width: 81%;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__input {
    &--three {
      min-width: 336px;
      height: 59px;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      margin-bottom: 29px;
    }
  }
}

.achievement__label {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: #d22856;
  padding-left: 21px;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .achievement__label {
    padding-left: 15px;
  }
}

@media (min-width: $tablet-width) {
  .achievement__label {
    &--phone {
      position: absolute;
      top: 74px;
      left: 74px;
      padding: 0;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__label {
    &--phone {
      position: absolute;
      top: 66px;
      left: 74px;
    }
  }
}

@media (min-width: $tablet-width) {
  .achievement__label {
    &--mail {
      position: absolute;
      top: 207px;
      left: 75px;
      padding: 0;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__label {
    &--mail {
      position: absolute;
      top: 66px;
      left: 530px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievement__label {
    font-family: $font-pink;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
    color: #d22856;
    padding: 0;
  }
}

.achievement__label-check {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 22px;
}

.achievement__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 42px;
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .achievement__title {
    padding-top: 0;
  }
}

.achievement__title-gadget {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 40px;
  padding-top: 42px;
}

@media (min-width: $tablet-width) {
  .achievement__title-gadget {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .achievement__title-gadget {
    padding: 0;
  }
}

.achievement__title-contacts {
  display: none;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 42px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__title-contacts {
    padding-top: 0;
    display: block;
    margin: 0;
    margin-bottom: 41px;
  }
}

.achievement__title-feedback {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 42px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__title-feedback {
    padding-top: 0;
  }
}

.achievement__checkbox {
  margin: 0;
  width: 35px;
  height: 35px;
  background: #ffffff;
  box-shadow: 0 0 0 3px #e5e5e5;
  border-radius: 4px;
  outline: none;
  margin-bottom: 47px;
}

.achievement__number-phone {
  width: 99%;
  height: 59px;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 1px;
  border: none;
  margin: 0 auto;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .achievement__number-phone {
    width: 89%;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    margin-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__number-phone {
    width: 371px;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    border: none;
    margin-bottom: 22px;
  }
}

.achievement__number-phone::placeholder {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 20px;
}

.achievement__block-check {
  background-color: #f2f2f2;
}

.achievement__block-gadget {
  background-color: #f2f2f2;
  min-height: 340px;
}

.achievement__mail {
  width: 99%;
  height: 59px;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 1px;
  border: none;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .achievement__mail {
    width: 89%;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    border: none;
    margin-bottom: 69px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__mail {
    width: 371px;
    height: 59px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    border: none;
    margin-bottom: 22px;
    margin-right: 10px;
  }
}


.achievement__mail::placeholder {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 20px;
}

.achievement__form {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .achievement__form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .achievement__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.achievement__field {
  border: none;
  padding: 0;
  display: block;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__field {
    order: 0;
    padding: 0;
    margin: 0;
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__field {
    width: 36%;
    margin-right: 74px;
    padding-left: 130px;
  }
}

.achievement__gadget {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  padding-left: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__gadget {
    order: 1;
    width: 82%;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    background-color: #ffffff;
    padding-left: 69px;
    margin-left: 20px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__gadget {
    order: 1;
    width: 30%;
    margin: 0;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    background-color: #ffffff;
    padding-left: 69px;
    padding-bottom: 16px;
    margin-bottom: 54px;
  }
}

.achievement__filter {
  border: none;
  background-color: #f2f2f2;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__filter {
    order: 4;
    background-color: #ffffff;
    width: 85%;
    margin: 0 auto;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 70px;
  }
}

.achievement__feedback {
  border: none;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__feedback {
    order: 5;
    width: 92%;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    margin-bottom: 70px;
    margin-left: 27px;
  }
}

@media (min-width: $tablet-width) {
  .achievement__form-wrapper {
    order: 6;
    display: flex;
  }
}

.achievement__form-wrapper {
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: $desktop-width) {
  .achievement__form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .achievement__feedback {
    width: 79%;
    height: 213px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__filter {
    display: flex;
    width: 75%;
    height: 228px;
  }
}

.achievement__contacts-app {
  border: none;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: $tablet-width) {
  .achievement__contacts-app {
    position: relative;
    width: 93%;
    order: 3;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    margin-bottom: 51px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__contacts-app {
    width: 78%;
    min-height: 158px;
    display: block;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__contacts-app {
    display: flex;
  }
}

.achievement__radio {
  width: 37px;
  height: 37px;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 2px;
  margin-bottom: 38px;
}

.achievement__label-radio {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  padding-left: 31px;
}

.achievement__text-emotion {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  resize: none;
  width: 276px;
  height: 197px;
  align-items: center;
  color: #283645;
  border: none;
  box-shadow: 0 0 0 2px #e5e5e5;
  border-radius: 1px;
  margin-bottom: 52px;
}

@media (min-width: $tablet-width) {
  .achievement__text-emotion {
    display: block;
    resize: none;
    width: 496px;
    height: 189px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    margin: 0 auto;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .achievement__text-emotion {
    display: block;
    width: 816px;
    resize: none;
    height: 124px;
    box-shadow: 0 0 0 2px #e5e5e5;
    border-radius: 1px;
    margin: 0 auto;
    margin-bottom: 52px;
  }
}

.achievement__text-emotion::placeholder {
  padding: 22px 25px 0 20px;
}

.achievement__button {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  background: #2aab6d;
  box-shadow: 0 0 0 2px #2aab6d;
  border-radius: 1px;
  border: none;
  padding: 23px 45px 23px 45px;
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .achievement__button {
    margin-right: auto;
  }
}

.achievement__text {
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  margin-bottom: 26px;
}

.achievement__text-desktop {
  display: none;
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .achievement__text-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .achievement__text {
    display: none;
  }

  .achievement__text-desktop {
    display: block;
  }
}
