.advantages__link {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #d22856;
}

.advantages__slogan-block {
  background: #ffffff;
  padding-top: 46px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.advantages__text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    margin: 0;
  }
}

.advantages__list {
  position: relative;
  padding-top: 50px;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    text-align: left;
    width: 47%;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-height: 250px;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}

.advantages__list-block {
  position: relative;
  min-height: 817px;
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 102%;
    min-height: 495px;
    background: #f2f2f2;
    border: none;
  }
}

.advantages__list-image-block {
  @media (min-width: $desktop-width) {
    min-height: 302px;
    background-image: url("../img/desktop-middle-phone.png");
    background-repeat: no-repeat;
    background-position: 49% -2%;
  }
}

.advantages__list-image-block::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: url("../img/desktop-right-phone.png");
    top: 3px;
    left: 83%;
    transform: translate(-50%);
    z-index: 0;
  }
}

.advantages__image {
  position: absolute;
  top: 534px;
  left: 90px;
  display: block;
  z-index: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 2px;
    left: 29px;
    display: block;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 2px;
    left: 104px;
    display: block;
    z-index: 0;
  }
}

.advantages__item {
  min-height: 100px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    margin: 0 auto;
    margin-right: 68px;
  }
}

.advantages__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title-block {
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
  }
}

.advantages__description {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #283645;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__block {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 100%;
    background: #ffffff;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background: #f2f2f2;
    min-height: 429px;
  }
}

.advantages__block-wrapper {
  @media (min-width: $tablet-width) {
    width: 45%;
    margin-left: 53%;
    padding-top: 105px;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
    margin-left: 40%;
    padding-top: 105px;
  }
}

.advantages__block-img {

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    left: 131px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50px;
    left: 131px;
  }
}

.advantages__block-img-watch {

  @media (min-width: $tablet-width) {
    width: 238px;
    left: 276px;
    position: absolute;
    top: -26px;
    left: -96px;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    left: 345px;
    position: absolute;
    top: -26px;
    left: -50px;
  }
}

