.advantages__link {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #d22856;
}

.advantages__slogan-block {
  background: #ffffff;
  padding-top: 46px;
  padding-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .advantages__slogan-block {
    padding-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__slogan-block {
    padding-top: 77px;
  }
}

.advantages__text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .advantages__text {
    font-size: 40px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    font-size: 50px;
    margin: 0;
  }
}

.advantages__list {
  padding-top: 50px;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin: 0;
  background: #f2f2f2;
  min-height: 828px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    padding-top: 103px;
    min-height: 500px;
    text-align: left;
    width: 310px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    min-height: 250px;
    width: 100%;
    padding-top: 366px;
    text-align: center;
    margin: 0 auto;
  }
}

.advantages__item {
  height: 200px;
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 252px;
    margin-right: 68px;
    margin: 0 auto;
  }
}

.advantages__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title-block {
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
  }
}

.advantages__description {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #283645;
}

@media (min-width: $desktop-width) {
  .advantages__description {
    font-family: $font-pink;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #283645;
  }
}

.advantages__block {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__block {
    display: block;
    width: 310px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__block {
    display: block;
    margin: 0 auto;
    background: #f2f2f2;
  }
}

.advantages__img-block {
  background-image: url("../img/iphone-smile.png");
  background-repeat: no-repeat;
  background-position: 50% 148px;
  background-size: 157px auto;
}
