.advantages__link {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #d22856;
}

.advantages__slogan-block {
  background: #ffffff;
  padding-top: 46px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.advantages__text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    margin: 0;
  }
}

.advantages__list {
  position: relative;
  padding-top: 70px;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin: 0;


  @media (min-width: $tablet-width) {
    padding-top: 80px;
    text-align: left;
    width: 310px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0 auto;
    min-height: 250px;
    width: 940px;
    text-align: center;
    z-index: 1;
  }
}

.advantages__list-block {
  position: relative;
  min-height: 817px;
  background: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    min-height: 495px;
    background: #f2f2f2;
    border: none;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 101% auto;
    background-position: 50% 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 495px;
    background: #f2f2f2;
    border: none;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 101% auto;
    background-position: 50% 0;
  }
}

.advantages__list-image-block {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1152px;
  }
}

.advantages__list-image {
  list-style-type: none;
}

.advantages__item-image-one {
  position: absolute;
  top: -14px;
  left: 86px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__item-image-two {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: -470px;
    left: 24px;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__item-image-three {
  display: none;
  @media (min-width: $tablet-width) {
    display: none;
    @media (min-width: $desktop-width) {
      display: block;
      text-align: center;
      height: 254px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__list-block {
    display: flex;
    flex-direction: column;
  }

  .advantages__list-image-block {
    order: 1;
  }

  .advantages__list {
    order: 2;
  }

  .advantages__block {
    order: 3;
  }
}

.advantages__item {
  min-height: 100px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    margin: 0 auto;
  }
}

.advantages__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 234px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__title-block {
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
  }
}

.advantages__description {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #283645;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__block {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    background: #ffffff;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background: #f2f2f2;
    min-height: 429px;
  }
}

.advantages__block-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 53%;
    padding-top: 102px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 486px;
    padding-top: 105px;
    margin-bottom: 86px;
  }
}

.advantages__block-wrapper::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 175px;
    height: 175px;
    top: 122px;
    left: 66px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 220px;
    height: 220px;
    top: 140px;
    left: 120px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.advantages__link::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 123px;
    left: 99px;
    content: "24";
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 163px;
    color: #d22856;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 161px;
    left: 158px;
    content: "24";
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 163px;
    color: #d22856;
  }
}

.advantages__block-img {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 79px;
    left: 131px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 80px;
    left: 131px;
  }
}

.advantages__block-img-watch {
  @media (min-width: $tablet-width) {
    width: 238px;
    height: 276px;
    position: absolute;
    top: -26px;
    left: -96px;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    position: absolute;
    top: -26px;
    left: -50px;
  }
}

.bg-triangle-white {
  position: absolute;
  top: 0px;
  left: 0px;
}
