
.contacts__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 50px;
  margin-bottom: 10px;
}

.contacts__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.contacts__text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 35px;
}

.contacts__phone {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #D22856;
  margin: 0;
  margin-bottom: 31px;
}

.contacts__mail {
  text-decoration: none;
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #D22856;
}

.contacts__address {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #D22856;
  margin: 0;
  margin-bottom: 41px;
}
