.contrast-icon {
  opacity: 0.3;

  &:hover {
    color: #283645;
    opacity: 0.5;
  }

  &:active {
    color: #d22856;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
    color: #d22856;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}
