@media (min-width: $desktop-width) {
  .download-block {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.download-block__slogan-text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  padding-top: 29px;
  margin: 0;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.download-block__user-photo {
  position: relative;
  padding: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 57px;
    // padding-left: 60px;
  }
}

.download-block__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }
}

.download-block__img {
  min-height: 374px;
  padding-top: 20px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    width: 300px;
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 300px;
    height: 400px;
    margin-bottom: 57px;
  }
}

.download-block__scale {
  position: relative;
  width: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 202px;
    height: 200px;
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    width: 288px;
    margin-bottom: 122px;
  }
}

.scale__bar {
  position: relative;
  padding-left: 10px;
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin-bottom: 73px;


  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 71px;
    width: 188px;
    height: 2px;
    background-color: #283645;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 71px;
    width: 278px;
    height: 2px;
    background-color: #283645;
  }
}

.scale__bar-two {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin-bottom: 71px;
    width: 200px;
    height: 2px;
    background-color: #283645;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    width: 288px;
    height: 2px;
    background-color: #283645;
  }
}

.scale__bar-three {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 200px;
    height: 2px;
    background-color: #283645;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    width: 288px;
    height: 2px;
    background-color: #283645;
  }
}

.scale__range-toggle {
  position: absolute;
  top: -6px;
  left: 216px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #d22856;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -6px;
    left: 158px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -6px;
    left: 240px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }
}

.scale__range-toggle-two {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -6px;
    left: 25px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -6px;
    left: 47px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }
}

.scale__range-toggle-three {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -6px;
    left: 100px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -6px;
    left: 148px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #d22856;
    box-sizing: border-box;
  }
}

.download-block__scale::before {
  content: "";
  position: absolute;
  top: 34px;
  left: -40px;
  height: 1px;
  width: 320px;
  background: #283645;
  opacity: 0.1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.download-block__item {
  @media (min-width: $tablet-width) {
    &--crop::before {
      content: "";
      position: absolute;
      top: 102px;
      left: 362px;
      height: 1px;
      width: 275px;
      background: #283645;
      opacity: 0.1;
    }

    &--fill::before {
      content: "";
      position: absolute;
      top: 178px;
      left: 362px;
      height: 1px;
      width: 275px;
      background: #283645;
      opacity: 0.1;
    }

    &--contrast::before {
      content: "";
      position: absolute;
      top: 248px;
      left: 360px;
      height: 1px;
      width: 275px;
      background: #283645;
      opacity: 0.1;
    }
  }

  @media (min-width: $desktop-width) {
    &--crop {
      margin-bottom: 29px;
    }

    &--fill {
      margin-bottom: 29px;
    }

    &--crop::before {
      content: "";
      position: absolute;
      top: 114px;
      left: 451px;
      height: 1px;
      width: 410px;
      background: #283645;
      opacity: 0.1;
    }

    &--fill::before {
      content: "";
      position: absolute;
      top: 189px;
      left: 451px;
      height: 1px;
      width: 410px;
      background: #283645;
      opacity: 0.1;
    }

    &--contrast::before {
      content: "";
      position: absolute;
      top: 253px;
      left: 451px;
      height: 1px;
      width: 410px;
      background: #283645;
      opacity: 0.1;
    }
  }
}

.download-block__tools {
    list-style-type: none;
    width: 200px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin: 0;
    margin-left: 32px;
    padding-top: 61px;
    width: 50px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 0px;
  }
}

.download-block__item {
  height: 45px;
}

.crop-icon {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.fill-icon {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 22px;
    fill: #d22856;
    opacity: 1;
  }
  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.contrast-icon {
  @media (min-width: $tablet-width) {
    width: 16x;
    height: 16px;
    fill: #d22856;
    opacity: 1;
  }
  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.download-block__button {
  width: 100%;
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #d22856;

  &--submit {
    border: 3px solid #d22856;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 16px 42px 16px 42px;
    margin-bottom: 12px;
  }

  &--reset {
    padding: 16px 42px 16px 42px;
    color: #283645;
    opacity: 0.1;
    border: 3px solid #283645;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    min-height: 55px;
    padding: 0;

    &--submit {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      margin-right: 44px;
    }

    &--reset {
      margin: 0;
    }
  }
}

.download-block__button-block {
  padding-top: 10px;
  width: 281px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-left: 50px;
    width: 260px;

  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 20px;
    width: 390px;
    height: 55px;
    padding: 0;
  }
}

.download-block__tools-block {
  @media (min-width: $tablet-width) {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: $desktop-width) {
    height: 400px;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
  }
}
