.download-block__wrapper {
  width: 320px;
}

.download-block__slogan-text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 52px;
}

.download-block__user-photo {
  padding: 0;
  background: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
}

.download-block__img {
  width: 280px;
  min-height: 374px;
}

.download-block__tools-list {
  display: flex;
  margin: 0;
  margin-bottom: 114px;
}

.download-block__button {
  width: 280px;
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #D22856;
  &--submit {
    border: 3px solid #D22856;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 21px 90px 21px 90px;
    margin-bottom: 12px;
    }
    &--reset {
      padding: 21px 90px 21px 90px;
      color: #283645;
      opacity: 0.1;
      opacity: 0.1;
      border: 3px solid #283645;
      box-sizing: border-box;
      border-radius: 30px;
    }
}

.download-block__button-block {
  margin-bottom: 41px;
}
