.download {
  background: #1d2631;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    background: none;
    z-index: 1;
  }
}

.download__wrapper {
  width: 277px;
  margin: 0 auto;
  min-height: 245px;
  padding-top: 49px;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding-left: 20px;
    margin: 0 auto;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    width: 276px;
  }
}

.download__link {
  padding: 16px 27px 16px 27px;
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 29px;
  text-align: center;
}

.download__list {
  display: flex;
  padding: 0;
  list-style-type: none;
  width: 206px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 12px;
  margin-bottom: 28px;
}

.download__legend {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.apple-logo {
  display: block;
  margin-top: 32px;
}

.android-logo {
  display: block;
  margin-top: 38px;
}

.microsoft-logo {
  display: block;
  margin-top: 44px;
}
