.logo-pink__tablet {
  display: none;
}

.logo-pink__desktop {
  display: none;
}


@media (min-width: $tablet-width) {
  .logo-pink__tablet {
    display: block;
  }
  .logo-pink__mobile {
    display: none;
  }
  .logo-pink__desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo-pink__tablet {
    display: none;
  }
  .logo-pink__mobile {
    display: none;
  }
  .logo-pink__desktop {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .logo-pink__tablet {
    display: none;
  }
  .logo-pink__mobile {
    display: none;
  }
  .logo-pink__desktop {
    display: block;
  }
}
