.main-nav__wrapper {
  width: 1296px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 20px 312px 20px 312px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  text-decoration: none;
  font-family: $font-hair;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  padding: 0;
  margin: 0;
}

.main-nav__block-text {
  font-family: $font-hair;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.main-nav__block {
  display: flex;
  justify-content: space-between;
  width: 292px;
  margin: 0;
  padding: 0;
}

.main-nav__block-button {
  color: #ffffff;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 144px;
  left: 1465px;
  top: 22px;
  background: #d3b288;
  border-radius: 5px;
  cursor: pointer;
}
