.map {
  position: relative;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-position: 0 0;
  background-repeat: repeat;
}

.map iframe {
  border: none;
  display: block;
  height: 200px;

  @media (min-width: $tablet-width) {
    min-height: 374px;
  }

  @media (min-width: $desktop-width) {
    min-height: 502px;
  }
}

.triangle-footer-mobile {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.triangle-footer-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.triangle-footer-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
  }
}

.map__block {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 0;

  @media (min-width: $tablet-width) {
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
  }
}
