.map {
  position: relative;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-position: 0 0;
  background-repeat: repeat;
}

.map iframe {
  border: none;
  display: block;
  height: 200px;

  @media (min-width: $tablet-width) {
    min-height: 374px;
  }

  @media (min-width: $desktop-width) {
    min-height: 502px;
  }
}
