
.page-footer__wrapper {
  width: 285px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
  }
}

.page-footer__contacts-wrapper {
  width: 285px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 649px;
  }

  @media (min-width: $desktop-width) {
    width: 980px;
  }
}

.page-footer__social {
  text-align: center;
  min-height: 284px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 42px;
    margin: 0;
    padding-top: 26px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 87px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 41px;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    height: 40px;
    margin: 0;
    padding: 0;
  }
}

.logotype-blue-tablet {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logotype-blue-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin: 0 auto;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    width: 158px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 17%;
    padding: 0;
    margin: 0;
  }
}
