
.page-footer__social {
  text-align: center;
  min-height: 284px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 596px;
    justify-content: space-between;
    min-height: 42px;
    margin: 0;
    padding: 26px 20px 28px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 952px;
    justify-content: space-between;
    padding: 70px 119px 87px 119px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 41px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    height: 40px;
    margin: 0;
    padding: 0;
  }
}

.logotype-blue-tablet {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logotype-blue-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin: 0 auto;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    width: 158px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 17%;
    padding: 0;
    margin: 0;
  }
}
