
.page-footer__social {
  text-align: center;
  padding-top: 40px;
  min-height: 284px;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    display: flex;
    justify-content: space-between;
    min-height: 42px;
    padding: 36px 20px 51px 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social {
    display: flex;
    // padding-left: 252px;
    // padding-right: 252px;
    justify-content: space-between;
    padding: 70px 119px 87px 119px;

  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    height: 40px;
    margin: 0;
  }
}

.logotype-blue-tablet {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logotype-blue-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    width: 27%;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 17%;
    padding: 0;
    margin: 0;
  }
}
