
.page-header {
  position: relative;
  min-width: $mobile-width-only;
  background-color: #1D2631;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #FFFFFF;
}

.page-header__slogan {
  margin: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

