
.photo-collage__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 49% 47%;
    grid-template-rows: 455px 455px;
    grid-auto-flow: row;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 555px 555px;
    grid-auto-flow: row;
    column-gap: 20px;
    justify-content: center;
    padding: 0;
  }
}

.photo-collage__slogan {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  padding: 54px 0 60px 0;

  @media (min-width: $tablet-width) {
    width: 67%;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 48%;
    display: block;
    margin: 0 auto;
    min-width: 67%;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }
}

.photo-collage__user-img-one {
  min-width: 100%;
  min-height: 137px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 509px;
    margin: 0;
  }
}

.photo-collage__user-img {
  // min-width: 88%;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }
}

.photo-collage__user-text-one {
  width: 94%;
  margin: 0 auto;
  background: #f2f2f2;
  padding-left: 17px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 94%;
    padding-left: 30px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 78%;
    padding-left: 27px;
    margin-bottom: 50px;
  }
}

.photo-collage__user-text {
  min-width: 88%;
  min-height: 155px;
  background: #f2f2f2;

  @media (min-width: $desktop-width) {
    width: 78%;
    margin: 0 auto;
    background: #f2f2f2;
    padding-left: 27px;
  }
}

.photo-collage__user-title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #283645;
  margin: 0;
}

.photo-collage__remark {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  color: #283645;
  margin: 0;
}

.photo-collage__text-block {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #283645;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 87%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo-collage__like-block-one {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -3px;
    left: 466px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -3px;
    left: 787px;
  }
}

.photo-collage__like-text {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
}

.photo-collage__like-counter {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
}
