.price {
  min-width: $mobile-width;
  background:  #F2F2F2;
}

@media (min-width: $tablet-width) {
  .price {
    min-width: $tablet-width;
    background:  #F2F2F2;
  }
}

@media (min-width: $desktop-width) {
  .price {
    min-width: $desktop-width;
    background:  #F2F2F2;
  }
}

.price__wrapper {
  min-width: $mobile-width;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .price__wrapper {
    min-height: 346px;
  }
}

@media (min-width: $desktop-width) {
  .price__wrapper {
    width: $desktop-width;
    overflow: hidden;
  }
}

.price__table {
  position: relative;
  border-collapse: collapse;
  margin-top: 83px;
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .price__table {
    margin: 0;
    margin-top: 56px;
    margin-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .price__table {
    margin: 0 auto;
    margin-top: 56px;
  }
}

.price__cell {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: #283645;
  border: 2px solid #E5E5E5;
  border-radius: 1px 0px 0px 0px;
}

@media (min-width: $tablet-width) {
  .price__cell {
    width: 153px;
    padding-top: 15px;
    padding-left: 15px;
    background: #FFFFFF;
  }
}

@media (min-width: $desktop-width) {
  .price__cell {
    width: 233px;
    padding-top: 15px;
    padding-left: 15px;
    background: #FFFFFF;
  }
}

.price__number {
  margin: 0;
  padding: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.price__text {
  margin: 0;
  padding: 0;
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.price__cell-one {
  border: 2px solid #E5E5E5;
  border-radius: 1px 0px 0px 0px;
}

@media (min-width: $tablet-width) {
  .price__cell-one {
    background: #283645;
    width: 152px;
    height: 75px;
  }
}

@media (min-width: $desktop-width) {
  .price__cell-one {
    background: #283645;
    width: 233px;
    height: 75px;
  }
}

.price__toggles {
  margin: 0;
  text-align: center;
  margin-bottom: 49px;
}
