.price {
  background:  #F2F2F2;
}

.price__wrapper {
  width: 100%;
  overflow: hidden;
}

.price__table {
  border-collapse: collapse;
  margin-top: 83px;
  margin-bottom: 45px;
}

.price__cell {
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: #283645;
  border: 2px solid #E5E5E5;
  border-radius: 1px 0px 0px 0px;
}

.price__number {
  min-width: 276px;
}

.price__toggles {
  margin: 0;
  text-align: center;
  margin-bottom: 49px;
}

