.promo-section__block {
  position: relative;
  width: 1920px;
  min-height: 700px;
  background-color: #1d2631;
  background-image: url("../img/unsplash.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: 100%;
  color: #ffffff;
  margin: 0 auto;
}

.promo-section__title {
  font-family: $font-hair;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
  width: 386px;
  padding-top: 207px;
  margin: 0;
  margin-bottom: 25px;
}

.promo-section__block-smm {
  position: relative;
  margin: 0 auto;
  width: 528px;
  height: 700px;
  background-color:#ffffff;
  margin: 0 auto;
}

.promo-section__block-smm::before {
  content: '';
  position: absolute;
  width: 486px;
  height: 660px;
  left: 20px;
  top: 20px;
  border: 3px solid #D3B288;
  box-sizing: border-box;
}

.promo-section__wrapper {
  width: 320px;
  padding-left: 70px;
}

.promo-section__block-text {
  font-family: $font-hair;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  width: 380px;
  margin: 0;
  margin-bottom: 30px;
}

.promo-section__block-button {
  font-family: $font-hair;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  border: none;
  width: 236px;
  height: 42px;
  background: #d3b288;
  border-radius: 5px;
  cursor: pointer;
}
