.promo-block {
  min-height: 396px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    min-height: 260px;
  }
}

.promo-block__image {
  position: absolute;
  top: 176px;
  left: 0;
  z-index: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 184px;
    left: 0;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 209px;
    left: 138px;
    z-index: 0;
  }
}
