
.promo-section__title {
  font-family: $font-pink;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 36px 0px 74px 0px;
}

@media (min-width: $tablet-width) {
  .promo-section__title {
    font-family: $font-pink;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 36px 0px 74px 0px;
  }
}
