
.reviews {
  background-color: #ffffff;
}

.reviews__wrapper {
  position: relative;
  background: #ffffff;
  min-height: 364px;

  @media (min-width: $desktop-width) {
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 72px;
  }
}

.reviews__list {
  width: 300px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 615px;
  }
}


.reviews__next {
  display: none;
  @media (min-width: $desktop-width) {
    display: block;
    border: none;
    outline: none;
    background: none;
  }
}

.reviews__next::before {
  @media (min-width: $desktop-width) {
    content: url("../img/right-arrow.svg");
    border: none;
    position: absolute;
    left: 1047px;
    top: 213px;
  }
}

.reviews__prev {
  display: none;
  @media (min-width: $desktop-width) {
    display: block;
    border: none;
    outline: none;
    background: none;
  }
}

.reviews__prev::before {
  @media (min-width: $desktop-width) {
    content: url("../img/left-arrow.svg");
    border: none;
    position: absolute;
    left: 130px;
    top: 213px;
  }
}

.reviews__text {
  padding-top: 31px;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 620px;
    line-height: 30px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .reviews__text {
    font-family: $font-pink;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
}

.reviews__legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__toggles {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.reviews__toggle {
  border: none;
  outline: none;
  padding: 0;
  font: inherit;
  color: inherit;
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  margin-right: 16px;
  border-radius: 50%;

  &--current {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
    border-radius: 50%;
    margin-right: 16px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__item {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 109px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 179px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reviews__author-name-bottom {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}
