
.reviews {
  z-index: 2;
}

.reviews__wrapper {
  background: #ffffff;
  min-height: 364px;
}

@media (min-width: $tablet-width) {
  .reviews__list {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .reviews__list {
    margin: 0 auto;
  }
}

.reviews__text {
  padding-top: 31px;
  font-family: $font-pink;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  margin-bottom: 51px;
}

@media (min-width: $tablet-width) {
  .reviews__text {
    padding: 0;
  }
}

.reviews__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__legend {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews__legend {
    display: block;
  }
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__toggles {
  margin: 0 auto;
  text-align: center;
}

.reviews__item {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-family: $font-pink;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.reviews__author-name-bottom {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__author-name {
    order: 2;
  }
}

@media (min-width: $tablet-width) {
  .reviews__author-name-bottom {
    display: none;
    font-family: $font-pink;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}
