.social__list {
  list-style-type: none;
  width: 178px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 17px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    width: 180px;
    height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 19%;
  }
}

.social__link {
  position: relative;
  top: -9px;
  left: 0;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 3px solid #d7d9dd;
  border-radius: 50%;

  &:hover {
    width: 48px;
    height: 48px;
    background: #ffffff;
    box-shadow: 0 0 0 3px #283645;
  }
}
