@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik"), local("Rubik"), url("../fonts/Rubik.ttf") format("ttf"), url("../fonts/Rubik-italic.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"), local("Rubik"), url("../fonts/Rubik.ttf") format("ttf"), url("../fonts/Rubik-italic.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik"), local("Rubik"), url("../fonts/Rubik.ttf") format("ttf"), url("../fonts/Rubik-italic.ttf") format("ttf");
}
